.main_search {
  max-width: 600px;
  margin: 0 auto;
}
.input_bar {
  background-color: rgb(245, 240, 240);
  color: rgb(24, 24, 24);
  border: none;
  padding: 1rem;
  border-radius: 4px;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
}
.input_bar::placeholder {
  color: rgba(0, 0, 0, 0.466);
}

.search_text {
  margin: 2rem auto;
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  .input_bar {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .search_text {
    font-size: 1.5rem;
  }
}
